@using RPG.Engine

<div>
    @if (Book.Sections.ContainsKey(SectionName))
    {
        <div>@SectionName.Substring(1)</div>
        @foreach (var stat in Book.Sections[SectionName].Stats)
        {
            <GearosStatBox Stat="@stat" OnChange="@OnChangeEvent" OnRolled="@OnRolled"/>
            <br />
        }
    }
</div>

@code {
#nullable disable
    [Parameter]
    public Book Book { get; set; }
    [Parameter]
    public string SectionName { get; set; }
    [Parameter]
    public Action<int> OnRolled { get; set; }
#nullable restore

    protected override void OnInitialized()
    {
        if (Book == null)
            throw new ArgumentNullException(nameof(Book));
        if (SectionName == null)
            throw new ArgumentNullException(nameof(SectionName));
        if (OnRolled == null)
            throw new ArgumentNullException(nameof(OnRolled));
    }

    [Parameter]
    public Action<int> OnChange { get; set; }

    private void OnChangeEvent(int xp)
    {
        OnChange(xp);
    }
}
